<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Agent version</key>
	<string>2.5.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.frentree.recon.PIMCPrivilegedTaskRunnerHelper</key>
		<string>identifier &quot;com.frentree.recon.PIMCPrivilegedTaskRunnerHelper&quot; and anchor apple generic and certificate leaf[subject.CN] = &quot;Apple Development: gontai@gmail.com (99AN8Y9FF5)&quot; and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</dict>
	<key>version</key>
	<string>1.0.2</string>
</dict>
</plist>
